<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.administrator.myappgit">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--监听网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--设置壁纸-->
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <!-- 调用照相机相关权限 -->
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="一个无聊的App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 拍照选择头像需要的自定义权限 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.administrator.myappgit.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activity.ShowAllDemosActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".activity.ShowListActivity"/>
        <activity
            android:name=".activity.ZhiHuDetailActivity"
            android:theme="@style/SwipeBackStyle"/>
        <activity android:name=".activity.GuideActivity"/>
        <activity android:name=".activity.ItemBGRollRvActivity"/>
        <activity android:name=".activity.ItemBGRollListActivity"/>
        <activity android:name=".activity.ShowImageActivity"/>
        <activity android:name=".activity.TitanicTextViewActivity"/>
        <activity android:name=".activity.ParallaxActivity"/>
        <activity android:name=".activity.VariationTabLayoutActivity"/>
        <activity android:name=".activity.BublesSwitchViewActivity"/>
        <activity android:name=".activity.DrowInterpolatorViewActivity"/>
        <activity android:name=".activity.ComplexGlidLayoutRv" />
        <activity android:name=".activity.ChangeHeadIconActivity"/>

        <service android:name=".service.BaseService"/>
    </application>

</manifest>